 .u-section-1 {
  background-image: none;
  min-height: 1080px;
}

.u-section-1 .u-image-1 {
  height: 105px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-image-2 {
  width: 212px;
  height: 904px;
  margin: -105px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -620px auto 0 calc(((100% - 1140px) / 2));
  padding: 26px 80px 27px 79px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -362px calc(((100% - 1140px) / 2) + 37px) 0 auto;
  padding: 27px 26px 28px 24px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.9376em;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -104px calc(((100% - 1140px) / 2) + 216px) 0 auto;
  padding: 28px 26px 29px 24px;
}

.u-section-1 .u-icon-2 {
  font-size: 1.875em;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 338px auto 0 calc(((100% - 1140px) / 2));
  padding: 27px 76px 27px 75px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -160px auto 0 calc(((100% - 1140px) / 2));
  padding: 27px 48px 29px 47px;
}

.u-section-1 .u-btn-6 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 79px auto 0 calc(((100% - 1140px) / 2));
  padding: 27px 62px 27px 60px;
}

.u-section-1 .u-btn-7 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
  padding: 27px 66px;
}

.u-section-1 .u-btn-8 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2));
  padding: 26px 50px 28px;
}

.u-section-1 .u-btn-9 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 118px auto 0 calc(((100% - 1140px) / 2));
  padding: 27px 56px 27px 55px;
}

.u-section-1 .u-image-3 {
  width: 248px;
  height: 248px;
  margin: -851px auto 0 calc(((100% - 1140px) / 2) + 212px);
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: -196px calc(((100% - 1140px) / 2) + 106px) 0 calc(((100% - 1140px) / 2) + 475px);
}

.u-section-1 .u-btn-10 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 19px calc(((100% - 1140px) / 2) + 279px) 0 auto;
  padding: 27px 56px 27px 55px;
}

.u-section-1 .u-image-4 {
  width: 763px;
  height: 471px;
  margin: 12px calc(((100% - 1140px) / 2) + -12px) 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -471px auto 0 calc(((100% - 1140px) / 2) + 242px);
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 361px calc(((100% - 1140px) / 2)) 60px calc(((100% - 1140px) / 2) + 648px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 791px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 1px;
  }

  .u-section-1 .u-image-2 {
    height: 757px;
    margin-top: -106px;
    margin-left: calc(((100% - 940px) / 2) + -14px);
  }

  .u-section-1 .u-btn-1 {
    margin-top: -651px;
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-1 .u-btn-2 {
    margin-top: -183px;
    margin-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 940px) / 2) + 131px);
  }

  .u-section-1 .u-btn-4 {
    margin-top: 78px;
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-1 .u-btn-5 {
    margin-top: 0;
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-1 .u-btn-6 {
    margin-top: 0;
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 940px) / 2) + -15px);
  }

  .u-section-1 .u-btn-9 {
    margin-top: 117px;
    margin-left: calc(((100% - 940px) / 2) + -14px);
  }

  .u-section-1 .u-image-3 {
    margin-top: -776px;
    margin-left: calc(((100% - 940px) / 2) + 212px);
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -143px;
    margin-right: 0;
    margin-left: calc(((100% - 940px) / 2) + 431px);
  }

  .u-section-1 .u-btn-10 {
    margin-top: 1px;
    margin-right: calc(((100% - 940px) / 2) + 159px);
    padding: 26px 38px 28px 37px;
  }

  .u-section-1 .u-image-4 {
    width: 433px;
    height: 255px;
    margin-top: 7px;
    margin-right: calc(((100% - 940px) / 2) + 34px);
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    width: auto;
    font-weight: 700;
    margin-top: -316px;
    margin-left: calc(((100% - 940px) / 2) + 248px);
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
    width: auto;
    font-weight: 700;
    margin-top: 244px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2) + 448px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 720px) / 2) + 212px);
  }

  .u-section-1 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 211px);
  }

  .u-section-1 .u-btn-10 {
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 720px) / 2) + 190px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 720px) / 2));
    margin-left: calc(((100% - 720px) / 2) + 228px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-2 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-2 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-4 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-5 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-6 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-7 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-8 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-9 {
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 540px) / 2) + 212px);
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-btn-10 {
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-image-4 {
    margin-top: 7px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-text-2 {
    margin-left: calc(((100% - 540px) / 2) + 143px);
  }

  .u-section-1 .u-text-3 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2) + 48px);
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 907px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 608px;
  }

  .u-section-1 .u-image-2 {
    left: 0;
    right: auto;
    height: auto;
    margin: initial;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -477px;
    margin-right: auto;
    margin-left: 0;
    padding-right: 42px;
    padding-left: 41px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 0;
    margin-right: auto;
    margin-left: 0;
    padding-right: 52px;
    padding-left: 50px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -1220px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-top: 105px;
    margin-left: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -210px;
    margin-left: 0;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .u-section-1 .u-btn-9 {
    margin-top: 68px;
    margin-right: calc(((100% - 340px) / 2) + -45px);
    margin-left: auto;
    padding-left: 52px;
    padding-right: 52px;
  }

  .u-section-1 .u-image-3 {
    margin-left: calc(((100% - 340px) / 2) + 92px);
  }

  .u-section-1 .u-text-1 {
    margin-top: -801px;
    margin-right: 0;
    margin-left: calc(((100% - 340px) / 2) + 162px);
  }

  .u-section-1 .u-btn-10 {
    margin-top: 1109px;
    margin-right: auto;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 200px;
    margin-top: 80px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 37px;
    margin-right: calc(((100% - 340px) / 2) + -37px);
    margin-left: calc(((100% - 340px) / 2) + 170px);
  }

  .u-section-1 .u-text-3 {
    margin-top: 32px;
    margin-right: calc(((100% - 340px) / 2) + -37px);
    margin-left: calc(((100% - 340px) / 2) + 170px);
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1807px;
}

.u-section-2 .u-image-1 {
  width: 870px;
  height: 870px;
  margin: 847px auto 0 -209px;
}

.u-section-2 .u-image-2 {
  width: 870px;
  height: 870px;
  margin: -1783px auto 0 -27px;
}

.u-section-2 .u-image-3 {
  width: 870px;
  height: 870px;
  margin: 143px -232px 0 auto;
}

.u-section-2 .u-rotation-parent-1 {
  width: 421px;
  height: 577px;
  margin: -1508px 13px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 577px;
  height: 421px;
}

.u-section-2 .u-image-5 {
  width: 410px;
  height: 410px;
  background-image: url("../images/kisspng-grid-transparent-grid-png-5ab1c9745d4395.537660851521600884382.png");
  background-position: 50% 50%;
  filter: brightness(0.35);
  margin: -720px auto 0 208px;
}

.u-section-2 .u-image-6 {
  width: 410px;
  height: 410px;
  background-image: url("../images/kisspng-grid-transparent-grid-png-5ab1c9745d4395.537660851521600884382.png");
  background-position: 50% 50%;
  filter: brightness(0.35);
  margin: -245px -9px 0 auto;
}

.u-section-2 .u-image-7 {
  width: 408px;
  height: 408px;
  margin: -575px auto 0 208px;
}

.u-section-2 .u-image-8 {
  width: 408px;
  height: 408px;
  margin: -250px 17px 0 auto;
}

.u-section-2 .u-icon-1 {
  width: 253px;
  height: 253px;
  margin: -489px auto 0 279px;
  padding: 0;
}

.u-section-2 .u-icon-2 {
  width: 253px;
  height: 253px;
  margin: -45px 86px 0 auto;
  padding: 0;
}

.u-section-2 .u-image-9 {
  width: 614px;
  height: 408px;
  margin: -538px auto 0 -113px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  margin: -277px 956px 0 13px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 13px 932px 0 -27px;
}

.u-section-2 .u-rotation-parent-2 {
  width: 471px;
  height: 471px;
  margin: 707px 0 0 auto;
}

.u-section-2 .u-image-10 {
  width: 471px;
  height: 471px;
  background-image: url("../images/kisspng-black-and-white-rectangle-circle-monochrome-dots-5ac3c77fed9302.8822653315227800319731.png");
  background-position: 50% 50%;
}

.u-section-2 .u-rotation-parent-3 {
  width: 175px;
  height: 175px;
  margin: -884px auto 0 412px;
}

.u-section-2 .u-image-11 {
  width: 175px;
  height: 175px;
  background-image: url("../images/kisspng-black-and-white-rectangle-circle-monochrome-dots-5ac3c77fed9302.8822653315227800319731.png");
  background-position: 50% 50%;
}

.u-section-2 .u-rotation-parent-4 {
  width: 425px;
  height: 613px;
  margin: 303px auto 0 13px;
}

.u-section-2 .u-image-12 {
  width: 613px;
  height: 425px;
}

.u-section-2 .u-rotation-parent-5 {
  width: 425px;
  height: 613px;
  margin: -1356px 0 0 auto;
}

.u-section-2 .u-image-13 {
  width: 613px;
  height: 425px;
}

.u-section-2 .u-image-14 {
  width: 423px;
  height: 423px;
  background-image: url("../images/kisspng-grid-transparent-grid-png-5ab1c9745d4395.537660851521600884382.png");
  background-position: 50% 50%;
  filter: brightness(0.35);
  margin: 13px auto 0 26px;
}

.u-section-2 .u-image-15 {
  width: 408px;
  height: 408px;
  margin: -1174px 13px 0 auto;
}

.u-section-2 .u-icon-3 {
  width: 253px;
  height: 253px;
  margin: 422px auto 0 99px;
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.875rem;
  font-weight: normal;
  margin: 100px 833px 0 128px;
}

.u-section-2 .u-text-4 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0 754px 0 65px;
}

.u-section-2 .u-text-5 {
  font-size: 1.875rem;
  margin: -856px 118px 0 852px;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 9px 86px 0 820px;
}

.u-section-2 .u-text-7 {
  font-size: 4.5rem;
  text-decoration: underline !important;
  margin: 148px 0 60px 653px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1505px;
  }

  .u-section-2 .u-image-1 {
    width: 261px;
    height: 261px;
    margin-top: 50px;
    margin-left: 186px;
  }

  .u-section-2 .u-image-2 {
    width: 228px;
    height: 228px;
    margin-top: 582px;
    margin-left: 97px;
  }

  .u-section-2 .u-image-3 {
    width: 348px;
    height: 348px;
    margin-top: -623px;
    margin-right: auto;
    margin-left: 56px;
  }

  .u-section-2 .u-rotation-parent-1 {
    margin-top: -12803px;
    margin-right: auto;
    margin-left: 124px;
  }

  .u-section-2 .u-image-4 {
    width: 570px;
    height: 477px;
    margin: 4260px auto 0 249px;
  }

  .u-section-2 .u-image-5 {
    width: 249px;
    height: 249px;
    margin-top: 11442px;
    margin-left: 186px;
  }

  .u-section-2 .u-image-6 {
    width: 288px;
    height: 288px;
    margin-top: -110px;
    margin-right: 21px;
  }

  .u-section-2 .u-image-7 {
    width: 291px;
    height: 291px;
    margin-top: -289px;
    margin-right: 34px;
    margin-left: auto;
  }

  .u-section-2 .u-image-8 {
    width: 302px;
    height: 302px;
    margin-top: -296px;
    margin-right: 14px;
  }

  .u-section-2 .u-icon-1 {
    width: 178px;
    height: 178px;
    margin-top: -405px;
    margin-left: 211px;
  }

  .u-section-2 .u-icon-2 {
    width: 174px;
    height: 174px;
    margin-top: -3px;
    margin-right: 82px;
  }

  .u-section-2 .u-image-9 {
    width: 360px;
    height: 268px;
    margin-top: -388px;
    margin-left: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: -167px;
    margin-right: 754px;
    margin-left: 34px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 6px;
    margin-right: 747px;
    margin-left: 28px;
  }

  .u-section-2 .u-rotation-parent-2 {
    width: 313px;
    height: 313px;
    margin-top: 588px;
    margin-right: auto;
    margin-left: 134px;
  }

  .u-section-2 .u-image-10 {
    width: 313px;
    height: 313px;
    margin: 187px 31px 0 422px;
  }

  .u-section-2 .u-rotation-parent-3 {
    margin-top: -551px;
    margin-left: 143px;
  }

  .u-section-2 .u-rotation-parent-4 {
    width: 325px;
    height: 440px;
    margin-top: 180px;
    margin-left: 56px;
  }

  .u-section-2 .u-image-12 {
    width: 440px;
    height: 325px;
  }

  .u-section-2 .u-rotation-parent-5 {
    width: 311px;
    height: 390px;
    margin-top: -1070px;
    margin-right: 14px;
  }

  .u-section-2 .u-image-13 {
    width: 390px;
    height: 311px;
  }

  .u-section-2 .u-image-14 {
    width: 272px;
    height: 272px;
    margin-top: 184px;
    margin-left: 83px;
  }

  .u-section-2 .u-image-15 {
    width: 271px;
    height: 271px;
    margin-top: -282px;
    margin-right: auto;
    margin-left: 83px;
  }

  .u-section-2 .u-icon-3 {
    width: 121px;
    height: 121px;
    margin-top: -189px;
    margin-left: 150px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
    width: auto;
    font-weight: 700;
    margin-top: 82px;
    margin-right: 632px;
    margin-left: 130px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    width: auto;
    font-weight: 700;
    margin-top: 10px;
    margin-right: 609px;
    margin-left: 91px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: -726px;
    margin-right: 80px;
    margin-left: 682px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-top: 12px;
    margin-right: 66px;
    margin-left: 684px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 99px;
    margin-left: 453px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-2 {
    margin-top: 20px;
    margin-left: 86px;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
  }

  .u-section-2 .u-rotation-parent-1 {
    margin-top: 0;
  }

  .u-section-2 .u-image-4 {
    margin-top: 4932px;
    margin-left: 150px;
  }

  .u-section-2 .u-image-5 {
    margin-top: 0;
    margin-right: 312px;
  }

  .u-section-2 .u-image-6 {
    margin-top: 0;
    margin-right: 228px;
  }

  .u-section-2 .u-image-7 {
    margin-top: 0;
    margin-right: 314px;
  }

  .u-section-2 .u-image-8 {
    margin-top: 0;
    margin-right: 231px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
    margin-left: 424px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 0;
    margin-right: 300px;
  }

  .u-section-2 .u-image-9 {
    margin-top: 0;
    margin-left: 97px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-right: 759px;
    margin-left: 210px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 932px;
    margin-left: 183px;
  }

  .u-section-2 .u-rotation-parent-2 {
    margin-top: 0;
  }

  .u-section-2 .u-image-10 {
    margin-right: 360px;
    margin-left: auto;
  }

  .u-section-2 .u-rotation-parent-3 {
    margin-top: 0;
  }

  .u-section-2 .u-rotation-parent-4 {
    margin-top: 0;
  }

  .u-section-2 .u-rotation-parent-5 {
    margin-top: 0;
  }

  .u-section-2 .u-image-14 {
    width: 228px;
    height: 228px;
    margin-top: 0;
  }

  .u-section-2 .u-image-15 {
    margin-top: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-top: 0;
    margin-right: 522px;
    margin-left: 20px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 480px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-top: 0;
    margin-right: 434px;
    margin-left: 535px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 0;
    margin-right: 410px;
    margin-left: 495px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 233px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-2 {
    margin-top: 0;
    margin-left: 176px;
  }

  .u-section-2 .u-rotation-parent-1 {
    margin-left: 119px;
  }

  .u-section-2 .u-image-4 {
    width: 540px;
    height: 451px;
    margin-top: 4224px;
    margin-left: 0;
  }

  .u-section-2 .u-image-5 {
    margin-right: 300px;
  }

  .u-section-2 .u-image-6 {
    margin-right: 318px;
  }

  .u-section-2 .u-image-7 {
    margin-right: 302px;
  }

  .u-section-2 .u-image-8 {
    margin-right: 321px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 426px;
    margin-left: 158px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 390px;
  }

  .u-section-2 .u-image-9 {
    width: 614px;
    height: 407px;
    margin-left: 187px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 669px;
    margin-left: 300px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 867px;
    margin-left: 273px;
  }

  .u-section-2 .u-image-10 {
    width: 540px;
    height: 540px;
    margin-right: 300px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 362px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 300px;
  }

  .u-section-2 .u-text-7 {
    font-size: 1rem;
    margin-left: 53px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-left: 79px;
  }

  .u-section-2 .u-image-2 {
    width: 408px;
    height: 408px;
    margin-left: 276px;
  }

  .u-section-2 .u-image-3 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-2 .u-rotation-parent-1 {
    width: 340px;
    height: 385px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    width: 340px;
    height: 284px;
    margin-top: 5252px;
  }

  .u-section-2 .u-image-5 {
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-2 .u-image-6 {
    margin-right: 21px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-7 {
    margin-right: 34px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-8 {
    margin-right: 14px;
    margin-left: 400px;
  }

  .u-section-2 .u-icon-1 {
    margin-right: 386px;
    margin-left: 99px;
  }

  .u-section-2 .u-icon-2 {
    margin-right: 82px;
    margin-left: 400px;
  }

  .u-section-2 .u-image-9 {
    width: 340px;
    height: 253px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 569px;
    margin-left: 400px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 767px;
    margin-left: 373px;
  }

  .u-section-2 .u-rotation-parent-2 {
    margin-left: 27px;
  }

  .u-section-2 .u-image-10 {
    width: 340px;
    height: 340px;
    margin-top: 1580px;
    margin-right: 400px;
  }

  .u-section-2 .u-rotation-parent-4 {
    margin-left: 15px;
  }

  .u-section-2 .u-image-14 {
    margin-left: 68px;
  }

  .u-section-2 .u-image-15 {
    margin-left: auto;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 94px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 162px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 100px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1589px;
}

.u-section-3 .u-image-1 {
  width: 739px;
  height: 739px;
  margin: -92px auto 0 -169px;
}

.u-section-3 .u-text-1 {
  font-size: 4.5rem;
  text-decoration: underline !important;
  margin: -625px 0 0 20px;
}

.u-section-3 .u-rotation-parent-1 {
  width: 387px;
  height: 387px;
  margin: -39px auto 0 20px;
}

.u-section-3 .u-image-2 {
  width: 387px;
  height: 387px;
  background-image: url("../images/kisspng-grid-transparent-grid-png-5ab1c9745d4395.537660851521600884382.png");
  background-position: 50% 50%;
  filter: brightness(0.4);
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: -200px 16px 0 411px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 307px 331px 0 79px;
}

.u-section-3 .u-icon-1 {
  width: 73px;
  height: 73px;
  margin: -128px auto 0 3px;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 89px 351px 0 79px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 34px 351px 0 79px;
}

.u-section-3 .u-image-3 {
  width: 249px;
  height: 426px;
  object-position: 50% 0%;
  margin: -490px 86px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 249px;
  height: 426px;
  object-position: 50% 0%;
  filter: brightness(0.8);
  margin: -228px -3px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 508px;
  height: 291px;
  object-position: 50% 53.71%;
  margin: -461px -73px 0 auto;
}

.u-section-3 .u-icon-2 {
  width: 73px;
  height: 73px;
  margin: -222px auto 0 3px;
  padding: 0;
}

.u-section-3 .u-icon-3 {
  width: 73px;
  height: 73px;
  margin: 57px auto 60px 3px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1124px;
  }

  .u-section-3 .u-image-1 {
    width: 532px;
    height: 532px;
    margin-top: 27px;
    margin-left: -50px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -532px;
    margin-left: 0;
  }

  .u-section-3 .u-rotation-parent-1 {
    margin-top: -49px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    width: auto;
    font-weight: 700;
    margin-top: -203px;
    margin-right: 37px;
    margin-left: 359px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    width: auto;
    font-weight: 700;
    margin-top: 187px;
    margin-right: 355px;
  }

  .u-section-3 .u-icon-1 {
    width: 79px;
    height: 96px;
    margin-top: -125px;
    margin-left: 0;
  }

  .u-section-3 .u-text-4 {
    font-size: 1rem;
    width: auto;
    font-weight: 700;
    margin-top: 84px;
    margin-right: 355px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1rem;
    width: auto;
    font-weight: 700;
    margin-right: 355px;
  }

  .u-section-3 .u-image-3 {
    filter: brightness(0.85);
    margin-top: -554px;
  }

  .u-section-3 .u-icon-2 {
    width: 79px;
    height: 79px;
    margin-top: -134px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-3 {
    width: 79px;
    height: 79px;
    margin-top: 55px;
    margin-bottom: 118px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 176px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 214px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    width: 73px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 214px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 214px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 34px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 34px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 69px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: -340px;
  }

  .u-section-3 .u-rotation-parent-1 {
    width: 340px;
    height: 293px;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -109px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    width: 340px;
    height: 195px;
    margin-right: 0;
  }

  .u-section-3 .u-icon-2 {
    margin-top: -38px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 1568px;
}

.u-section-4 .u-image-1 {
  width: 879px;
  height: 879px;
  margin: -453px auto 0 -322px;
}

.u-section-4 .u-image-2 {
  width: 192px;
  height: 185px;
  margin: 110px 52px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 192px;
  height: 185px;
  margin: 221px 74px 0 auto;
}

.u-section-4 .u-image-4 {
  width: 472px;
  height: 472px;
  margin: -1724px 190px 0 auto;
}

.u-section-4 .u-image-5 {
  width: 192px;
  height: 185px;
  margin: 874px auto 0 37px;
}

.u-section-4 .u-image-6 {
  width: 192px;
  height: 185px;
  margin: -644px auto 0 50px;
}

.u-section-4 .u-icon-1 {
  width: 136px;
  height: 136px;
  margin: -168px auto 0 78px;
  padding: 0;
}

.u-section-4 .u-rotation-parent-1 {
  width: 305px;
  height: 305px;
  margin: -609px auto 0 -39px;
}

.u-section-4 .u-image-7 {
  width: 305px;
  height: 305px;
  background-image: url("../images/kisspng-black-and-white-rectangle-circle-monochrome-dots-5ac3c77fed9302.8822653315227800319731.png");
  background-position: 50% 50%;
}

.u-section-4 .u-text-1 {
  font-size: 4.5rem;
  text-decoration: underline !important;
  margin: -57px 0 0;
}

.u-section-4 .u-icon-2 {
  width: 64px;
  height: 64px;
  margin: 0 519px 0 auto;
}

.u-section-4 .u-line-1 {
  width: 473px;
  border-style: solid;
  transform-origin: left center 0px;
  margin: -41px auto 0 0;
}

.u-section-4 .u-line-2 {
  width: 439px;
  border-style: solid;
  transform-origin: right center 0px;
  margin: -8px 0 0 auto;
}

.u-section-4 .u-image-8 {
  width: 831px;
  height: 207px;
  margin: 55px 0 0 auto;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  margin: -207px 0 0 309px;
}

.u-section-4 .u-rotation-parent-2 {
  width: 252px;
  height: 252px;
  margin: -594px auto 0 -12px;
}

.u-section-4 .u-image-9 {
  width: 252px;
  height: 252px;
  background-image: url("../images/kisspng-grid-transparent-grid-png-5ab1c9745d4395.537660851521600884382.png");
  background-position: 50% 50%;
  filter: brightness(0.4);
}

.u-section-4 .u-icon-3 {
  width: 64px;
  height: 64px;
  margin: 243px auto 0 114px;
}

.u-section-4 .u-icon-4 {
  width: 136px;
  height: 136px;
  margin: 153px 83px 0 auto;
  padding: 0;
}

.u-section-4 .u-icon-5 {
  width: 64px;
  height: 64px;
  margin: -106px 119px 0 auto;
}

.u-section-4 .u-image-10 {
  width: 831px;
  height: 207px;
  margin: -150px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -207px 309px 0 0;
}

.u-section-4 .u-icon-6 {
  width: 136px;
  height: 136px;
  margin: 77px auto 0 65px;
  padding: 0;
}

.u-section-4 .u-icon-7 {
  width: 64px;
  height: 64px;
  margin: -109px auto 0 111px;
}

.u-section-4 .u-image-11 {
  width: 831px;
  height: 207px;
  margin: -138px 0 0 auto;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -207px 0 0 309px;
}

.u-section-4 .u-icon-8 {
  width: 136px;
  height: 136px;
  margin: 48px 102px 0 auto;
  padding: 0;
}

.u-section-4 .u-icon-9 {
  width: 64px;
  height: 64px;
  margin: -106px 150px 0 auto;
}

.u-section-4 .u-image-12 {
  width: 831px;
  height: 207px;
  margin: -112px auto 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -207px 309px 0 0;
}

.u-section-4 .u-icon-10 {
  width: 136px;
  height: 136px;
  margin: 43px auto 0 75px;
  padding: 0;
}

.u-section-4 .u-icon-11 {
  width: 64px;
  height: 64px;
  margin: -99px auto 0 112px;
}

.u-section-4 .u-image-13 {
  width: 831px;
  height: 207px;
  margin: -129px 0 0 auto;
}

.u-section-4 .u-text-6 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -207px 0 0 309px;
}

.u-section-4 .u-image-14 {
  width: 192px;
  height: 185px;
  margin: -187px auto 60px 50px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1718px;
  }

  .u-section-4 .u-image-1 {
    width: 702px;
    height: 702px;
    margin-top: -4px;
    margin-right: 61px;
    margin-left: auto;
  }

  .u-section-4 .u-image-2 {
    margin-top: -160px;
    margin-right: 70px;
  }

  .u-section-4 .u-image-3 {
    margin-top: 321px;
    margin-right: 92px;
  }

  .u-section-4 .u-image-4 {
    margin-top: -214px;
  }

  .u-section-4 .u-image-5 {
    margin-top: -719px;
    margin-left: 82px;
  }

  .u-section-4 .u-image-6 {
    margin-top: -656px;
    margin-left: 51px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -166px;
    margin-left: 79px;
  }

  .u-section-4 .u-rotation-parent-1 {
    width: 193px;
    height: 193px;
    margin-top: -560px;
    margin-right: 238px;
    margin-left: auto;
  }

  .u-section-4 .u-image-7 {
    width: 193px;
    height: 193px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -17px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 8px;
    margin-right: auto;
    margin-left: 421px;
  }

  .u-section-4 .u-line-1 {
    width: 405px;
    margin-top: -32px;
    margin-left: -3px;
  }

  .u-section-4 .u-line-2 {
    width: 431px;
  }

  .u-section-4 .u-image-8 {
    width: 624px;
    height: 163px;
    margin-top: 85px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: -152px;
    margin-right: 18px;
    margin-left: 340px;
  }

  .u-section-4 .u-rotation-parent-2 {
    width: 160px;
    height: 160px;
    margin-top: 1089px;
    margin-right: 92px;
    margin-left: auto;
  }

  .u-section-4 .u-image-9 {
    width: 160px;
    height: 160px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: -1347px;
    margin-left: 113px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 143px;
    margin-right: 92px;
  }

  .u-section-4 .u-icon-5 {
    margin-top: -107px;
    margin-right: 128px;
  }

  .u-section-4 .u-image-10 {
    width: 613px;
    height: 192px;
    margin-top: -121px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: -178px;
    margin-right: 342px;
    margin-left: 16px;
  }

  .u-section-4 .u-icon-6 {
    margin-top: 95px;
    margin-left: 107px;
  }

  .u-section-4 .u-icon-7 {
    margin-top: -101px;
    margin-left: 154px;
  }

  .u-section-4 .u-image-11 {
    width: 606px;
    height: 208px;
    margin-top: -140px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
    width: auto;
    margin-top: -191px;
    margin-right: 21px;
    margin-left: 337px;
  }

  .u-section-4 .u-icon-8 {
    margin-top: 126px;
    margin-right: 121px;
  }

  .u-section-4 .u-icon-9 {
    margin-top: -109px;
    margin-right: 162px;
  }

  .u-section-4 .u-image-12 {
    width: 613px;
    height: 218px;
    margin-top: -130px;
  }

  .u-section-4 .u-text-5 {
    font-size: 1rem;
    width: auto;
    margin-top: -196px;
    margin-right: 342px;
    margin-left: 16px;
  }

  .u-section-4 .u-icon-10 {
    margin-top: 126px;
    margin-left: 118px;
  }

  .u-section-4 .u-icon-11 {
    margin-top: -103px;
    margin-left: 151px;
  }

  .u-section-4 .u-image-13 {
    width: 603px;
    height: 222px;
    margin-top: -145px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1rem;
    width: auto;
    margin-right: 18px;
    margin-left: 340px;
  }

  .u-section-4 .u-image-14 {
    margin-top: -166px;
    margin-left: 90px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
    margin-right: 18px;
  }

  .u-section-4 .u-image-2 {
    width: 680px;
    margin-top: 20px;
  }

  .u-section-4 .u-image-3 {
    width: 680px;
    margin-top: 20px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 0;
  }

  .u-section-4 .u-image-5 {
    width: 680px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-image-6 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-top: 0;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 20px;
    margin-left: 322px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 138px;
    margin-right: 0;
  }

  .u-section-4 .u-icon-4 {
    width: 680px;
    margin-top: 0;
  }

  .u-section-4 .u-icon-5 {
    width: 680px;
  }

  .u-section-4 .u-image-10 {
    width: 680px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-4 .u-icon-6 {
    width: 680px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-icon-7 {
    width: 680px;
    margin-left: auto;
  }

  .u-section-4 .u-image-11 {
    width: 680px;
    margin-top: 20px;
  }

  .u-section-4 .u-text-4 {
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-4 .u-icon-8 {
    width: 680px;
    margin-top: 0;
  }

  .u-section-4 .u-icon-9 {
    width: 680px;
  }

  .u-section-4 .u-image-12 {
    width: 680px;
    margin-top: 20px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -195px;
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-4 .u-icon-10 {
    width: 680px;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-4 .u-icon-11 {
    width: 680px;
    margin-left: auto;
  }

  .u-section-4 .u-image-13 {
    width: 680px;
    margin-top: 20px;
  }

  .u-section-4 .u-text-6 {
    margin-left: -340px;
    margin-right: -340px;
  }

  .u-section-4 .u-image-14 {
    width: 680px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 500px;
    margin-top: 0;
  }

  .u-section-4 .u-image-3 {
    width: 500px;
    margin-top: 0;
  }

  .u-section-4 .u-image-4 {
    margin-right: 68px;
  }

  .u-section-4 .u-image-5 {
    width: 500px;
    margin-top: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 8px;
    margin-left: 242px;
  }

  .u-section-4 .u-image-8 {
    width: 540px;
    height: 141px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -130px;
    margin-left: 0;
  }

  .u-section-4 .u-icon-4 {
    width: 500px;
  }

  .u-section-4 .u-icon-5 {
    width: 500px;
  }

  .u-section-4 .u-image-10 {
    width: 500px;
    height: 169px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -155px;
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-4 .u-icon-6 {
    width: 500px;
  }

  .u-section-4 .u-icon-7 {
    width: 500px;
  }

  .u-section-4 .u-image-11 {
    width: 500px;
    height: 185px;
    margin-top: -140px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -168px;
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-4 .u-icon-8 {
    width: 500px;
  }

  .u-section-4 .u-icon-9 {
    width: 500px;
  }

  .u-section-4 .u-image-12 {
    width: 500px;
    height: 192px;
    margin-top: -130px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -169px;
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-4 .u-icon-10 {
    width: 500px;
    margin-top: 0;
  }

  .u-section-4 .u-icon-11 {
    width: 500px;
  }

  .u-section-4 .u-image-13 {
    width: 500px;
    height: 199px;
    margin-top: -145px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -184px;
    margin-left: -250px;
    margin-right: -250px;
  }

  .u-section-4 .u-image-14 {
    width: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-4 .u-image-2 {
    width: 300px;
  }

  .u-section-4 .u-image-3 {
    width: 300px;
  }

  .u-section-4 .u-image-4 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-4 .u-image-5 {
    width: 300px;
  }

  .u-section-4 .u-rotation-parent-1 {
    margin-right: 147px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 152px;
  }

  .u-section-4 .u-line-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-4 .u-line-2 {
    width: 340px;
  }

  .u-section-4 .u-image-8 {
    width: 340px;
    height: 89px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -78px;
  }

  .u-section-4 .u-icon-4 {
    width: 300px;
  }

  .u-section-4 .u-icon-5 {
    width: 300px;
    margin-right: 81px;
  }

  .u-section-4 .u-image-10 {
    width: 300px;
    height: 106px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -92px;
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-4 .u-icon-6 {
    width: 300px;
  }

  .u-section-4 .u-icon-7 {
    width: 300px;
  }

  .u-section-4 .u-image-11 {
    width: 300px;
    height: 116px;
  }

  .u-section-4 .u-text-4 {
    margin-top: -99px;
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-4 .u-icon-8 {
    width: 300px;
    margin-right: 76px;
  }

  .u-section-4 .u-icon-9 {
    width: 300px;
    margin-right: 102px;
  }

  .u-section-4 .u-image-12 {
    width: 300px;
    height: 121px;
  }

  .u-section-4 .u-text-5 {
    margin-top: -98px;
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-4 .u-icon-10 {
    width: 300px;
  }

  .u-section-4 .u-icon-11 {
    width: 300px;
  }

  .u-section-4 .u-image-13 {
    width: 300px;
    height: 125px;
  }

  .u-section-4 .u-text-6 {
    margin-top: -110px;
    margin-left: -150px;
    margin-right: -150px;
  }

  .u-section-4 .u-image-14 {
    width: 300px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1096px;
}

.u-section-5 .u-rotation-parent-1 {
  width: 261px;
  height: 261px;
  margin: -84px 31px 0 auto;
}

.u-section-5 .u-image-1 {
  width: 261px;
  height: 261px;
  background-image: url("../images/kisspng-black-and-white-rectangle-circle-monochrome-dots-5ac3c77fed9302.8822653315227800319731.png");
  background-position: 50% 50%;
}

.u-section-5 .u-text-1 {
  font-size: 4.5rem;
  text-decoration: underline !important;
  margin: -34px 701px 0 110px;
}

.u-section-5 .u-rotation-parent-2 {
  width: 570px;
  height: 570px;
  margin: -342px auto 0 0;
}

.u-section-5 .u-image-2 {
  width: 570px;
  height: 570px;
  background-image: url("../images/kisspng-grid-transparent-grid-png-5ab1c9745d4395.537660851521600884382.png");
  background-position: 50% 50%;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: -196px auto 0 243px;
}

.u-section-5 .u-line-1 {
  width: 179px;
  border-style: solid;
  transform-origin: left center 0px;
  margin: -50px auto 0 0;
}

.u-section-5 .u-line-2 {
  width: 212px;
  border-style: solid;
  transform-origin: left center 0px;
  margin: -8px auto 0 358px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 64px 201px 0 0;
}

.u-section-5 .u-image-3 {
  width: 539px;
  height: 331px;
  margin: 170px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: -320px 618px 0 17px;
}

.u-section-5 .u-image-4 {
  width: 570px;
  height: 48px;
  margin: -239px 0 0 auto;
}

.u-section-5 .u-image-5 {
  width: 570px;
  height: 48px;
  margin: 23px 0 0 auto;
}

.u-section-5 .u-image-6 {
  width: 570px;
  height: 48px;
  margin: 23px 0 0 auto;
}

.u-section-5 .u-image-7 {
  width: 570px;
  height: 48px;
  margin: 23px 0 0 auto;
}

.u-section-5 .u-image-8 {
  width: 570px;
  height: 48px;
  margin: 23px 0 0 auto;
}

.u-section-5 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: -332px 0 0 auto;
  padding: 0 35px 0 34px;
}

.u-section-5 .u-icon-2 {
  font-size: 1.875em;
}

.u-section-5 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 22px 0 0 auto;
  padding: 0 26px 0 25px;
}

.u-section-5 .u-icon-3 {
  font-size: 1.9376em;
}

.u-section-5 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 23px 0 0 auto;
  padding: 4px 33px 6px 32px;
}

.u-section-5 .u-icon-4 {
  font-size: 1.5em;
}

.u-section-5 .u-btn-4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: 23px 0 0 auto;
  padding: 3px 25px 4px 23px;
}

.u-section-5 .u-icon-5 {
  font-size: 1.625em;
}

.u-section-5 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  margin: 23px 0 29px auto;
  padding: 11px 61px 13px 60px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 816px;
  }

  .u-section-5 .u-rotation-parent-1 {
    width: 201px;
    height: 201px;
    margin-top: -87px;
    margin-right: 165px;
  }

  .u-section-5 .u-image-1 {
    width: 201px;
    height: 201px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 73px;
    margin-right: 401px;
    margin-left: 90px;
  }

  .u-section-5 .u-rotation-parent-2 {
    width: 375px;
    height: 295px;
    margin-top: -235px;
    margin-left: 132px;
  }

  .u-section-5 .u-image-2 {
    width: 375px;
    height: 375px;
    filter: brightness(0.4);
  }

  .u-section-5 .u-icon-1 {
    margin-top: -64px;
    margin-left: 288px;
  }

  .u-section-5 .u-line-1 {
    margin-left: 72px;
  }

  .u-section-5 .u-line-2 {
    margin-right: 345px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    width: auto;
    margin-top: 75px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    height: 206px;
    margin-top: 20px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1rem;
    width: auto;
    margin-top: -178px;
    margin-right: 401px;
    margin-left: 32px;
  }

  .u-section-5 .u-image-4 {
    margin-top: -176px;
  }

  .u-section-5 .u-image-5 {
    margin-top: 12px;
  }

  .u-section-5 .u-image-6 {
    margin-top: 13px;
  }

  .u-section-5 .u-image-7 {
    margin-top: 10px;
  }

  .u-section-5 .u-image-8 {
    margin-top: 11px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -288px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 14px;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 12px;
  }

  .u-section-5 .u-btn-4 {
    margin-top: 10px;
  }

  .u-section-5 .u-btn-5 {
    margin-top: 10px;
    margin-bottom: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 769px;
  }

  .u-section-5 .u-rotation-parent-1 {
    margin-right: auto;
    margin-left: 428px;
  }

  .u-section-5 .u-text-1 {
    margin-right: 720px;
    margin-left: 420px;
  }

  .u-section-5 .u-rotation-parent-2 {
    width: 360px;
    height: 260px;
    margin-right: 360px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 360px;
    height: 360px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 470px;
    margin-left: auto;
  }

  .u-section-5 .u-line-1 {
    height: 8px;
    margin-top: 20px;
    margin-left: 420px;
  }

  .u-section-5 .u-line-2 {
    height: 8px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 358px;
  }

  .u-section-5 .u-text-2 {
    margin-left: 420px;
    margin-right: 420px;
  }

  .u-section-5 .u-image-3 {
    margin-right: 181px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    margin-right: 634px;
    margin-left: 420px;
  }

  .u-section-5 .u-image-4 {
    width: 360px;
    height: 30px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: 360px;
  }

  .u-section-5 .u-image-5 {
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-5 .u-image-6 {
    margin-right: auto;
    margin-left: 210px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 296px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 457px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 752px;
  }

  .u-section-5 .u-rotation-parent-1 {
    margin-left: 300px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-5 .u-rotation-parent-2 {
    margin-right: 180px;
  }

  .u-section-5 .u-icon-1 {
    margin-right: 336px;
  }

  .u-section-5 .u-line-1 {
    margin-top: -50px;
    margin-right: 361px;
    margin-left: auto;
  }

  .u-section-5 .u-line-2 {
    margin-top: -8px;
    margin-left: 328px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-5 .u-image-3 {
    margin-right: 1px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 540px;
    margin-left: 600px;
  }

  .u-section-5 .u-image-4 {
    width: 270px;
    margin-top: -176px;
    margin-left: 300px;
  }

  .u-section-5 .u-image-5 {
    width: 540px;
    height: 45px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-6 {
    width: 540px;
    height: 45px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-5 .u-image-7 {
    width: 540px;
    height: 45px;
  }

  .u-section-5 .u-image-8 {
    width: 540px;
    height: 45px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -285px;
    margin-right: 476px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: auto;
    margin-left: 324px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-5 .u-rotation-parent-1 {
    margin-left: 400px;
  }

  .u-section-5 .u-rotation-parent-2 {
    width: 340px;
    height: 240px;
    margin-right: 200px;
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 340px;
  }

  .u-section-5 .u-icon-1 {
    margin-top: -1px;
    margin-right: 399px;
  }

  .u-section-5 .u-line-1 {
    margin-right: 400px;
  }

  .u-section-5 .u-line-2 {
    margin-left: 400px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 468px;
    margin-left: 672px;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 130px;
    margin-right: 128px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -102px;
    margin-right: 400px;
    margin-left: 672px;
  }

  .u-section-5 .u-image-4 {
    margin-left: 400px;
  }

  .u-section-5 .u-image-5 {
    width: 340px;
    height: 28px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-5 .u-image-6 {
    width: 340px;
    height: 28px;
    margin-right: auto;
    margin-left: 400px;
  }

  .u-section-5 .u-image-7 {
    width: 340px;
    height: 28px;
  }

  .u-section-5 .u-image-8 {
    width: 340px;
    height: 28px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -268px;
    margin-right: 400px;
  }

  .u-section-5 .u-btn-2 {
    margin-left: 424px;
  }
}